<div class="card" (click)="loadStation(station)">
  <!--<div class="card-body">-->
  <div class="card-top">
    <i class="fa fa-train on-left" aria-hidden="true"></i>
    <div>
      <h5 class="card-title text-white text-center margin-little"> {{station.name}} </h5>
    </div>
  </div>
  <!-- (click)="updateStation(station)-->
  <!--<div class="card-bottom">-->
  <!--<p clas>s="card-text">Created By:</p>-->
  <!--</div>-->
  <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
  <!--</div>-->
  <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
  <!--</div>-->
</div>