<div *ngIf="station">

  <div class="divider"></div>

  <div class="card card-body">
    <!-- Navbar -->

    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <a class="navbar-brand" href="#">{{station.name}}</a>
      <ul class="navbar-nav">
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="btn btn-primary" href="#">+</a>
        </li>
      </ul>
    </nav>

    <!-- Rails -->
    <!-- <ul class="list-unstyled">
      <li *ngFor="let rail of rails">
        <app-rail [rail]="rail"></app-rail>
      </li>
    </ul> -->
    <div [dragula]='"bag-two"' [dragulaModel]='rails'>
      <div *ngFor="let rail of rails">
        <app-rail [rail]="rail"></app-rail>
      </div>
    </div>

  </div>
</div>

<div *ngIf="!station">
  <h1 class="text-centered">Could not load station.</h1>
</div>