<div *ngIf="station">

  <div class="divider"></div>

  <div class="card card-body">
    <!-- Navbar -->

    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <a class="navbar-brand">{{station.name}}</a>
      <ul class="navbar-nav">
      </ul>
      <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
              <a class="btn btn-warning hoverable text-white" (click)="getChartInfo()"><i class="fa fa-bar-chart-o"></i></a>
            </li>
        <li class="nav-item active">
          <a class="btn btn-primary hoverable text-white" (click)="showAddRail()">+</a>
        </li>
      </ul>
    </nav>

    <!-- Rails -->
    <div>
      <div *ngFor="let rail of rails">
        <app-rail [rail]="rail"></app-rail>
      </div>
    </div>

  </div>
</div>

<div *ngIf="!station">
  <h1 class="text-centered">Could not load station.</h1>
</div>