html, 
body {
    height: 100%;
}

.train4k{
    /* background-image: url("assets/images/train4k.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
    background-color: rgba(44, 130, 243, 0.5)
}


.loading{
    background-image: url("assets/images/login.gif");
    background-repeat: no-repeat;
}
.bgRed{
    background-color:  #C81D25;
}

.bgGreenBlue{
    background-color: #087E8B
}

.bgLightBlue{
    background-color: #6FA6E8
}

.bgPaleBlue{

    background-color:  #B1CAE8
}
