<div class="row" id="profile-background"> <!-- Profile Parent -->

  <!-- Info Section -->
  <div class="col-md-6"> 

      <!-- Avatar Section -->
      <div class="row"> 

        <div class="col-md-6">
            <img src="//placehold.it/200x200" alt="Profile Image">
        </div>

        <div class="w-100"></div>

        <!-- Information Component -->
        <div class="col-md-12">
            <app-info-display
                *ngIf="!isEditing"></app-info-display>
            <app-info-edit
                *ngIf="isEditing"></app-info-edit>
        </div>

      </div>

  </div>

  <!-- Button Section -->
  <div class="col-md-6 btn-group-vertical"> 
      <button type="button" class="btn btn-primary" (click)="changeDisplay()"><!--Edit Profile Information-->
        <i class="fa fa-user"></i>
    </button>
      <button type="button" class="btn btn-warning" style="color: #FFF;">Upload Profile Picture</button>
      <button type="button" class="btn btn-danger">Reset Password</button>
  </div>
</div>