#profile-background {
    background-color: #FFFFFF;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    min-height: 500px;
}

.fa {
    font-size: 30px;
}

button {
    font-size: 20px;
}

