.card {
    margin-top:100px;
    position: absolute;
    box-shadow: 0px 2px 25px rgba(0, 0, 0, .25);
    width: 200px; 
    height: 75px;
    text-align: center;
    vertical-align: middle;
    line-height: 75px;       /* the same as your div height */
}

.floating-box * {
    display: inline-block;
    width: 200px;
    height: 75px;
    margin: 10px;
}
/*.card:hover {
    background-color: #DCDCDC;
}*/
/*.card-top:hover {
    background-color: #DCDCDC;
}*/

/*.card-top{
    background-color:#FFFFF0;
    height:70px;
    
    
    
}*/
/*.card-bottom{
    height:30px;
    box-shadow: 0px 2px 25px rgba(0, 0, 0, .30);
}*/

.circle {
    margin: 35% 0 0 35%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: rgb(44,108,128)
  }
  
  .horizontal-plus {
    position: relative;
    background-color: #FFFFFF;
    width: 50%;
    height: 12.5%;
    left: 25%;
    top: 43.75%;
  }
  .vertical-plus {
    position: relative;
    background-color: #FFFFFF;
    width: 12.5%;
    height: 50%;
    left: 43.75%;
    top: 12.5%;
  }

  .middle {
    width: 200px; 
    height: 75px;
    vertical-align: middle;
    text-align:center;
    display:table-cell;
    padding:20%;
}

.top-margin{
    margin-top: 50%;
    position: inherit;
}
.circle:hover {
    background-color: #DCDCDC;
}