.margin-top{
    margin-top: 10rem;
}

.headerSize{
    height: 100px;
    width: 100%;
}

.loginHeader{
     background-size:contain;
     background-image: url("../../assets/images/railway-header.jpg");
     background-size: 100% 100%;
     background-repeat: no-repeat;
    }

.form-control.ng-touched.ng-invalid{
border: 2px solid red;
 }
