<div *ngIf="failedRegister" class="alert alert-danger alert-dismissible fade show animated fadeInDown" role="alert">
  <h4 class="alert-heading">{{failedRegisterHeader}}</h4>
  <p>{{failedRegisterMessage}}</p>
  <button (click)="setFailedRegisterFalse()" type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div> 


<form class="margin-top" [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">

  <div class="form-row">
  <div class="col-6 offset-3">
    <label class="text-white" for="username">
      Username
    </label>
    <input [(ngModel)]="username" (blur)="checkLength()" (keyup)="checkLength()" maxlength="15" pattern="[a-zA-Z0-9]*" id="username" name="username"
      class="form-control " type="text" placeholder="Username" formControlName="username">
    <div class="alert-danger animated fadeInDown" *ngIf="!rForm.controls['username'].valid && rForm.controls['username'].touched">
      {{usernameAlert}}
    </div>
  </div>
</div>


<div class="form-row">
  <div class="col-6 offset-3 form-group">
    <label class="text-white" for="password">
      Password
    </label>
    <input [(ngModel)]="fPassword" (blur)="setConfirmPass()" (blur)="checkPass()" (keyup)="checkPass()" id="password" name="password" class="form-control" type="password" placeholder="password"
      formControlName="fPassword">
    <div class="alert-danger animated fadeInDown" *ngIf="!rForm.controls['fPassword'].valid && rForm.controls['fPassword'].touched">
      {{passAlert}}
    </div>
  </div>
  </div>

  <div class="form-row">
  <div class="col-6 offset-3">
    <label  class="text-white" for="cpassword">
      Confirm Password
    </label>
    <input [(ngModel)]="cpassword"  id="confirmpassword" name="confirmpassword" class="form-control" type="password" placeholder="password"
      formControlName="cpassword">
    <div class="alert-danger animated fadeInDown" *ngIf="!rForm.controls['cpassword'].valid && rForm.controls['cpassword'].touched">
      Password Does Not Match
    </div>
  </div>
</div>
  
<div class="form-row">
  <div class="col-6 offset-3">
    <label class="text-white" for="fname">
      First Name
    </label>
    <input [(ngModel)]="fname" (blur)="checkFName()" maxlength="25" (keyup)="checkFName()" id="firstname" name="firstname" class="form-control" type="text" placeholder="First Name"
      formControlName="fname">
    <div class="alert-danger animated fadeInDown" *ngIf="!rForm.controls['fname'].valid && rForm.controls['fname'].touched">
      {{fnameAlert}}
    </div>
  </div>
</div>
  

<div class="form-row">
  <div class="col-6 offset-3">
    <label class="text-white" for="lname">
      Last Name
    </label>
    <input [(ngModel)]="lname" (blur)="checkLName()" maxlength="25" (keyup)="checkLName()"  id="lastname" name="lastname" class="form-control" type="text" placeholder="Last Name"
      formControlName="lname">
    <div class="alert-danger animated fadeInDown" *ngIf="!rForm.controls['lname'].valid && rForm.controls['lname'].touched">
      {{lnameAlert}}
    </div>
  </div>
</div>

<div class="form-row">
  <div class="col-6 offset-3">
    <label class="text-white" for="emails">
      Email
    </label>
    <input [(ngModel)]="email" (blur)="checkEmail()" (keyup)="checkEmail()"  id="emails" name="emails" class="form-control" type="text" placeholder="Email"
      formControlName="email">
    <div class="alert-danger animated fadeInDown" *ngIf="!rForm.controls['email'].valid && rForm.controls['email'].touched">
      {{emailAlert}}
    </div>
  </div>
</div>


<div class ="row">
  <input type="submit" class="btn btn-primary col-3 offset-3" name="login" id="login" value={{registerLabel}} [disabled]="!rForm.valid">

  <button type="button"  (click)="redirectToLogin()" class="btn btn-secondary col-3 " name="register" id="register">{{loginLabel}}</button>
</div>
</form>