<div class="card card-body">
  <!-- Navbar -->

  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" (click)="showUpdateRail()">{{rail.name}}</a>
    <ul class="navbar-nav">

    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="roleId == 64 || roleId == 27">
      <li class="nav-item active">
        <button type="button" class="btn btn-primary" (click)="createTileDialog()">+</button>
      </li>
    </ul>
  </nav>

  <!-- Tiles -->
  <div class="scrolling-wrapper" [dragula]='"bag-one"' [dragulaModel]='tiles'>
    <div *ngFor="let tile of tiles">
      <app-tile-details [tile]="tile"></app-tile-details>
    </div>
  </div>
</div>