<div class="modal-dialog" >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header ">
          <div class="btn-group" role="group" aria-label="Third group">
            <input *ngIf="editPoints" type="number" value="tileObj.points" [(ngModel)]="points" (keyup.enter)="savePoints()">
            <button *ngIf="!editPoints" (click)="editPoints=true" type="button" class="btn btn-primary">{{tileObj.points}}</button>
          </div>
            <input *ngIf="editName" (blur)="saveName()" (keyup.enter)="saveName()" class="form-control" type="text" value="tileObj.name" [(ngModel)]="name">
            <h5 *ngIf="!editName" (click)="editName=true" class="modal-title" id="exampleModalLongTitle">&nbsp;{{tileObj.name}} </h5>
          
  
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
            <span  aria-hidden="true">x</span>
          </button>
        </div>
        <div class="modal-body">
          <div *ngFor="let task of tileObj.tasks">
            <div class="row">
              <div class="col-lg-12">
                <div class="input-group">
                  <span class="input-group-addon">
                    <input type="checkbox" aria-label="task checked"  #taskChecked [attr.id]="task.taskId" [(checked)]="task.completed" (change)="taskIdUpdated(taskChecked.id, taskChecked.checked)">
                  </span>
                  <input type="text" class="form-control"  aria-label="Text input with checkbox" #taskName [attr.value]="task.name" [attr.id]="task.taskId" required (change)="taskNameUpdated(taskChecked.id, taskName.value)">
                </div>
              </div>
            </div>
          </div>
          
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Add A New Task" #newTask  aria-describedby="basic-addon2">
            <span class="input-group-addon btn-primary " id="basic-addon2" (click)="addNewTask(newTask.value); newTask.value='Add A New Task';"><i class="fa fa-plus"></i></span>
          </div>
          <div><br></div>
          
  
          <div class="input-group">
            <span class="input-group-addon" id="sizing-addon2">Note</span>
            <input type="text" class="form-control" placeholder="Add Note" aria-describedby="sizing-addon2" [(value)]="tileObj.note" readonly />
          </div>
  
          <div class="row">
            <div class="col-lg-12">
              <div class="input-group">
                <span class="input-group-addon">
                  <input type="checkbox" aria-label="Checkbox for following text input" [(checked)]="tileObj.completed" (change)="tailCompleated()">
                </span>
                <h5 class="form-control">completed</h5>
              </div>
            </div>
          </div>
  
          <div class="modal-footer">
            <h5 class="" id="Title"></h5>
            <button (click)="setUserCheckedOut()" type="button" class="btn btn-primary">Pick The Tile</button>
          </div>
        </div>
      </div>
    </div>
  </div>