<h3>Reset Password</h3>

<form [formGroup]="form">

<div class="form-group row">
    <label for="password-input" class="col-md-4 col-form-label">Enter New Password:</label>
    <div class="col-md-8">
      <input class="form-control"  (blur)="setConfirmPass()" (blur)="checkPass()" (keyup)="checkPass()" type="password" [(ngModel)]="password" formControlName="password" placeholder="New Password">
    </div>
    <div class="col-md-8 error" *ngIf="!form.get('password').valid  && form.get('password').touched">{{passAlert}}</div>
</div>
<div class="form-group row">
    <label for="confirm-password-input" class="col-md-4 col-form-label">Confirm New Password:</label>
    <div class="col-md-8">
      <input class="form-control" type="password" [(ngModel)]="cPassword" formControlName="cPassword" placeholder="Confirm Password">
    </div>
    <!-- <div class="col-md-8 error" *ngIf="form.get('cPassword').hasError('required')  && form.get('cPassword').touched"></div> -->
    <div class="col-md-8 error" *ngIf="form.get('cPassword').hasError('pattern') && form.get('cPassword').touched">Passwords must match.</div>
</div>
<div class="form-group row">
    <button type="button" class="btn btn-primary col-4 offset-4" (click)="saveNewPassword()" [disabled]="form.invalid">
        <i class="fa fa-save"></i> &nbsp; Save
    </button>
    <div class="col-12" id="profileStatus"> {{ statusMessage }}</div>
</div>

</form>