<h3>Edit Profile Information</h3>

<form [formGroup]="form">

<div class="form-group row">
    <label for="firstname-input" class="col-md-4 col-form-label">First Name:</label>
    <div class="col-md-8">
      <input class="form-control" type="text" [(ngModel)]="firstname" formControlName="firstname" placeholder="First Name">
    </div>
    <div class="col-md-8 error" *ngIf="form.get('firstname').hasError('required')  && form.get('firstname').touched">Field cannot be blank</div>
</div>
<div class="form-group row">
    <label for="lastname-input" class="col-md-4 col-form-label">Last Name:</label>
    <div class="col-md-8">
      <input class="form-control" type="text" [(ngModel)]="lastname" formControlName="lastname" placeholder="Last Name">
    </div>
    <div class="col-md-8 error" *ngIf="form.get('lastname').hasError('required')  && form.get('lastname').touched">Field cannot be blank</div>
</div>
<div class="form-group row">
    <label for="email-input" class="col-md-4 col-form-label">E-mail:</label>
    <div class="col-md-8">
      <input class="form-control" type="email" [(ngModel)]="email" formControlName="email" placeholder="E-Mail">
    </div>
    <div class="col-md-8 error" *ngIf="form.get('email').hasError('required')  && form.get('email').touched">Field cannot be blank</div>
    <div class="col-md-8 error" *ngIf="form.get('email').hasError('email') && form.get('email').touched">Invalid email</div>
</div>
<div class="form-group row">
    <button type="button" class="btn btn-primary col-4 offset-4" (click)="saveProfileInformation()" [disabled]="form.invalid">
        <i class="fa fa-save"></i> &nbsp; Save
    </button>
    <div class="col-12" id="profileStatus"> {{ statusMessage }}</div>
</div>

</form>